name: Test Manual Workflow

on:
  workflow_dispatch:
    inputs:
      Environnement:
        description: 'The environment i need to deploy on'
        required: true
        default: '/dev'

jobs:
  manual-job:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      
      - name: Example
        run: |
          echo "Mon exemple"
          echo "Env Name: ${{ github.event.inputs.Environment }}"
      - name: Github variable
        run: echo '${{ toJSON(github)}}'
      - name: Runner Variable
        run: echo '${{ toJSON(runner)}}'
      - name: Secrets Variable
        run: echo '${{ toJSON(secrets)}}'
      - name: Env Variable
        run: echo '${{ toJSON(vars.MY_API_URL)}}'